
.recommend-section .Slider-section .header-section {
  background-color: #377dff;
}
.recommend-section .Slider-section .header-section h1 {
  color: #ffffff;
}
.recommend-section .Slider-section .header-section a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17.5px;
  padding: 5px;
  height: auto;
  width: auto;
  background-color: transparent;
}

@media (max-width: 990px) {
  .recommend-section .Slider-section .header-section {
    background-color: #377dff;
  }
  .recommend-section .Slider-section .header-section h1 {
    color: #ffffff;
  }
  .recommend-section .Slider-section .header-section a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    height: auto;
    width: auto;
    background-color: transparent;
  }
}
