.top-header {
  margin: 0px auto;
  padding: 5px 0px;
  align-items: center;
  transition: all 0.6s ease-in-out;
  background-color: var(--bgColor);
  box-shadow: var(--bgShadow);
  width: 100%;
  z-index: 10;
  /* background-color: #0652a4; */
  position: sticky;
  box-shadow: var(--box-shadow);
  top: -50px;
}
.top-header.sticky {
  top: 65px;
  z-index: 9;
}
.menu {
  list-style: none;
  display: flex;
  width: 95%;
  margin: 0 auto;
}
.menu .menu-list {
  position: relative;
  /* background: #000; */
  padding: 10px 10px;
}
.menu .menu-list .menu-link {
  text-align: center;
  text-decoration: none;
  color: rgb(67, 66, 66);
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-list .menu-link img {
  margin-left: 5px;
}
.menu .menu-list .subBox {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  top: 45px;
}
.menu .menu-list .sub-menu {
  display: none;
  width: 250px;
  height: auto;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.menu .menu-list.active .sub-menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.menu .menu-list .sub-menu .sub-menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  height: 60px;
  justify-content: space-around;
}
.menu .menu-list .sub-menu .sub-menu-link:hover {
  background-color: rgba(173, 173, 173, 0.1);
  /* backdrop-filter: blur(10px); */
}
.menu .menu-list .sub-menu .sub-menu-link span {
  margin-left: 40px;
  color: rgb(67, 66, 66);
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}
.menu .menu-list .sub-menu .sub-menu-link img {
  width: 40px;
}
.menu .menu-list .sub-menu .sub-menu-link:hover span {
  color: rgb(30, 30, 213);
  font-weight: bold;
}
.menu .menu-list .sub-menu-links {
  width: 450px;
  height: 450px;
  display: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f8f8f8;
  border-right: 2px solid rgb(236, 236, 236);
}
.menu .menu-list.active .sub-menu-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 20px;
}
.menu .menu-list.active .sub-menu-links .sub-menu-items-link {
  width: 50%;
  height: 40px;
  padding: 15px;
  text-decoration: none;
  color: rgb(90, 89, 89);
  font-size: 16px;
  /* background-color:red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: 16.5px;
  font-weight: bold;
}
.menu .menu-list.active .sub-menu-links .sub-menu-items-link::before {
  position: absolute;
  content: "";
  right: 0;
  width: 3px;
  height: 100%;
  /* top: 3px; */
  border-radius: 10px;
  background-color: #0652a4;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.menu .menu-list.active .sub-menu-links .sub-menu-items-link:hover::before {
  opacity: 1;
}
.menu .menu-list.active .sub-menu-links .sub-menu-items-link:hover {
  background-color: rgba(100, 100, 111, 0.2);
  color: #0652a4;
}

@media screen and (max-width: 1024px) {
  .top-header {
    display: none;
  }
}
