.FourImage-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: 0px auto;
  flex-wrap: wrap;
}
.FourImage-part .img-container {
  width: 290px;
  /* background-color: red; */
}
.FourImage-part img {
}
@media (min-width: 320px) and (max-width: 425px) {
  .FourImage-part .img-container {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 425px) and (max-width: 538px) {
  .FourImage-part .img-container {
    width: 180px;
    height: 170px;
  }
}
@media (min-width: 538px) and (max-width: 768px) {
  .FourImage-part .img-container {
    width: 260px;
    height: 200px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .FourImage-part .img-container {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .FourImage-part {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .FourImage-part .img-container {
    width: 250px;
    height: 220px;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .FourImage-part .img-container {
    width: 280px;
    height: 250px;
  }
}
