.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: 93%;
  margin: 0 auto;
  /* border-bottom: 2px solid rgb(211, 211, 211); */
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
